venv/
.vscode/
.env
src/oanda.cfg
src/__pycache__/
.streamlit/
.astro/
.dockerignore
.strategies/
__pycache__/
data/backtest/forex_data_backtest.csv
data/Data_check.ipynb
data/backtest/forex_data_backtest.csv